[flake8]
exclude =
    .git,
    __pycache__,
    .tox,
    .cache,
    .coverage,
    .git,
    .idea,
    *.iml,
    *.pyc,
    alluxio.egg-info/,
    build/,
    dist/,
    docs/_build,
    tests/data/,
    tests/logs/,
    .eggs/,

max-line-length = 120
